/*
style for application
*/

body {
  margin-top:50px;
}

section#main {
  padding-top: 15px;
}

.clear {
  clear:both;
}

.display-none {
  display:none;
}

#in {
  float: left;
  margin-left:5px;
}
#out {
  float:left;
  margin-left: 30px;
  padding:5px;
}

@media all and (min-width: 760px) {
  #in {
    width:45%;
    height:1000px;
  }
  #out {
    width:50%;
  }
}
